## Markdown log files
*.log
*/*.log
*/*/*.log

## RNA_seq files to ignore
*/rna_seq_files/reads/R01_10_short6M.fq.gz
*/rna_seq_files/alignments/*
*/rna_seq_files/genome/*.array
*/rna_seq_files/genome/*.tab
*/rna_seq_files/genome/*.files
*/rna_seq_files/genome/*.log
*/rna_seq_files/genome/*.reads
*/rna_seq_files/reads/R01_10_short6M.fq.gz

## R History files
.Rhistory
*/.Rhistory
*/*/.Rhistory

## DS_Store files
*.DS_Store
*/*.DS_Store
*/*/*.DS_Store

## other files that are made by R markdown or latex:
*/*.nav
*/*.aux
*/*.snm
*/*.toc
*/*/*.nav
*/*/*.aux
*/*/*.snm
*/*/*.toc



